@import "tailwindcss";

:root {
  --bg-primary: #171717;
  --bg-surface: #1f1f1f;
  --border: #2e2e2e;
  --accent: #22c55e;
}

body {
  background-color: #171717;
  color: #ffffff;
  font-family: "Inter", sans-serif;
}
